.mainDiv {
  border: 3px solid rgb(68, 64, 64);
  border-top: 1px solid rgb(68, 64, 64);
  margin-left: 33%;
  margin-right: 33%;
  display: grid;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}

.books-div {
  margin-top: 8px;
  margin-bottom: 8px;
}
